<head>
    <title>Blog Ninja | <%= title%></title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="\styels.css">
  </head>