<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis aliquid repudiandae consequuntur voluptatem provident dolores. Illo accusantium necessitatibus ex pariatur optio reiciendis vel exercitationem ipsa perferendis quas. Quod, voluptate accusamus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quidem animi est sapiente vero! Aliquid est eveniet deserunt repudiandae rerum neque molestiae facere accusantium quis assumenda, sequi, doloremque quibusdam sapiente.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium architecto natus quis. Obcaecati quisquam adipisci eius error facilis assumenda vel rerum dicta itaque magni est autem asperiores quidem, modi id.</p>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>